git+https://github.com/subinps/pyrogram@inline-m
tgcrypto==1.2.2
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow==3.12.2
python-telegram-bot==11.1.0
umongo==3.0.0
requests
bs4
imdbpy
youtube-dl
youtube_search
requests
googletrans==3.1.0a0
telegraph
beautifulsoup4
aiohttp==3.7.4
gTTS
googletrans==3.1.0a0
NumPy
glitch_this
opencv-python-headless
youtube-search-python==1.4.6
yt-dlp
pypng
Pillow
wget
aiofiles
psutil
wheel
humanize
ytthumb
pypdf2
PyPDF2
pyshorteners
TgCrypto
Pyromod
sqlalchemy~=1.3.23
psycopg2-binary
feedparser
