#---master---#
#Telethroid==0.0.10
PyLeaves==1.0.2

#--Main----#
git+https://github.com/MKN-BOTZ/pyrogram 
aiofiles==22.1.0     
aiohttp==3.8.3
tgcrypto==1.2.5
requests
bs4==0.0.1

#---database---#
pymongo[srv]==3.12.3
marshmallow==3.14.1
umongo==3.0.1
motor==2.5.1

#---ytdl----#
youtube-search-python
youtube-search
yt-dlp==2023.2.17

#---imdb---#
git+https://github.com/cinemagoer/cinemagoer

#---others----#
opencv-python-headless==4.7.0.68
googletrans==3.1.0a0
telegraph==2.2.0
python-dotenv==0.21.1
gTTS==2.3.1
speedtest==0.0.1
humanize==4.6.0
Pillow==9.4.0
psutil==5.9.4
NumPy
wheel
ujson
wget
pytz




